<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="./src/app/css/main.css" type="text/css">
  </head>
  <body>

    <div class="container">
      <h1>SimpleForm</h1>

      <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
          <h3>Results</h3>
          <div id="eg-one"></div>
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
          <h3>Text Field</h3>
          <pre><code class="language-coffeescript">
content = "&lt;form&gt;
<%= simple_form.input('user', 'name') %>
<%= simple_form.input('user', 'password', {as: 'password'}) %>
<%= simple_form.input('user', 'email', {as: 'email'}) %>
&lt;/form&gt;"
data = simple_form: new SimpleForm()
$("#eg-one").html _.template(content, data)</code></pre>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"></div>
      </div>

    </div>

    <script data-main="/src/app/main.js" src="/bower_components/requirejs/require.js"></script>
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
    </script>
  </body>
</html>
